
*.xml
*.elf
*.hex
*.buildinfo
RemoteSensor/__vm/.RemoteSensor.vsarduino.h
RemoteSensor/.vs/RemoteSensor/v14/.atsuo
BaseStation/.vs/BaseStation/v14/.atsuo
*.job
*.pro
*.s#*
fp-info-cache
*.bak
*.kicad_pcb-bak
